@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* p{
        @apply text-body;
    } */

  h1,
  h2 {
    font-family: koulen;
  }

  /* CSS for initial state */
  /* CSS for initial position */
  /* CSS for the initial state of both the section and the image */
  /* CSS for the initial state of both the section and the image */
  #bestseller {
    transform: rotate(15deg); /* Start with a slight rotation */
    transition: transform 1s ease; /* Smooth transition for rotation */
  }

  #fotobes {
    transform: rotate(15deg); /* Start with a slight rotation */
    transition: transform 1s ease; /* Smooth transition for rotation */
  }

  /* CSS for the final animation state */
  #bestseller.animate {
    transform: rotate(0deg); /* Rotate back to normal */
  }

  #fotobes.animate {
    transform: rotate(0deg); /* Rotate back to normal */
  }
}
