---
const { variant = "primary", size = "medium", href = "#", target = "_self" } = Astro.props;

const variantClasses = {
  primary: "font-bold cursor-pointer border-blue-500 border-2 text-grey-500 shadow-drop25 bg-blue-500 hover:bg-blue-400 hover:border-blue-400 rounded",
  secondary: "font-bold cursor-pointer border-2 border-orange-600 text-orange-600  shadow-drop25 hover:border-grey-500 rounded hover:text-grey-500",
  tertiary: "font-bold cursor-pointer border-2 border-blue-500 text-blue-500 shadow-drop25 hover:bg-blue-500 hover:text-grey-500 rounded",
};

const sizeClasses = {
  large: "w-full px-30 text-center py-2 text-sm md:text-base md:py-3 md:px-32",
  medium: "px-1 py-2 text-xs md:px-4 md:py-4 md:text-xs",
  small: "px-1 py-0.5 text-xxs",
};
---

<a href={href} class:list={[variantClasses[variant], sizeClasses[size]]}>
  <slot />
</a>

<!-- <Button variant="primary" size="medium" href="/your-link">KØB ABONNEMENT</Button>
    <Button variant="secondary" size="medium" href="/your-link">KØB ABONNEMENT</Button>
    <Button variant="primary" size="large" href="/your-link">FORTSÆT TIL BETALING</Button> -->
