---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet" />
    <link rel="icon" href="assets/images/favicon.svg" type="favicon/png" />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-grey-500 scroll-smooth">
    <script>
      if (!localStorage.getItem("loggedIn")) {
        window.location.href = "/login";
      }
    </script>
    <header>
      <Header />
    </header>

    <main class="p-sm">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
